.auctionhouse_container {
  width: 100%;
  display: none;
  position: relative;
}

.auctionhouse_content {
  width: 100%;
  background-color: #343a40;
  border-bottom: 2px solid #000000;
}

.auctionhouse_content .tab-content {
  width: 100%;
  padding: 15px;
}

/* --- TAB 1 --- */
#tab1, #tab2, #tab3 {
  overflow: hidden !important;
  -moz-transition: 1s;
    -ms-transition: 1s;
      -o-transition: 1s;
        -webkit-transition: 1s;
          transition: 1s;
}

.overflow_div {
  padding: 15px;
  display: -webkit-box !important;
    display: -moz-box !important;
      display: -ms-flexbox !important;
        display: -webkit-flex !important;
          display: flex !important;
}

.search_bar {
  max-width: none !important;
  height: 30px !important;
  flex: 1;
}

input[type="text"]#search_field {
  width: 130px;
  box-sizing: border-box;
  border: 1px solid #5cb3fd;
  background-color: white;
  background-image: url("../../assets/content/images/searchicon.png");
  background-position: 10px 6px;
  background-repeat: no-repeat;
  padding: 0;
  /* padding: 1px 26px 1px 40px; */
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-size: 18px;
  font-size: 18px !important;
  padding-left: 35px !important;
  line-height: 0;
  height: 100%;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]#search_field:focus {
  width: 300px;
  border-color: #80bdff;
  outline: none !important;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  /* only looks good with bootstrap 3.3.7
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); */
}

/* --- TAB 3 --- */
/* left box */
.create_auction_div {
  margin-right: 1px;
  flex-basis: 40%
}

.create_auction_div,
.show_auction_div {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  border-radius: 5px;
  padding: 15px;
}

.create_auction_div .headline,
.show_auction_div .headline {
  line-height: 15px;
  margin-bottom: 10px;
}

.create_auction_div span,
.show_auction_div span {
  /* color: #343a40; */
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}

.create_auction_div .auction_item {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10%;
  -moz-box-shadow: inset 0 0 8px #000000;
  -webkit-box-shadow: inset 0 0 8px #000000;
  box-shadow: inset 0 0 8px #000000;
  border: 1px dashed #c8c8c8;

  -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
      -ms-transition:0.5s ease;
        -o-transition:0.5s ease;
          transition:0.5s ease;
}

.create_auction_div .auction_item:hover {
  -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
      box-shadow: inset 0 0 3px #000000;
}

/* right box */
.inventar_div {
  display: flex;
  flex-flow: row wrap;
  align-content: left;
  justify-content: left;
}

.inventar_div .no_items {
  font-weight: 100;
}

.inventar_div .inventar_item {
  width: 64px;
  height: 32px;
  margin-right: 10px;
  background-size: 100%;
}

.gold {
  background-image: url('../content/images/gold_bar.png');
}

.iron {
  background-image: url('../content/images/iron_bar.png');
}








.auctionhouse_nav {
  width: 100%; }

.auctionhouse_nav .nav-tabs {
  border: 0; }

.auctionhouse_nav .nav-tabs .nav-item {
  /* margin-bottom: auto !important; */
  margin-right: 3px; }

.auctionhouse_nav .nav-tabs .nav-item a {
  background-color: #343a40;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  outline: 0;
}

.auctionhouse_nav .nav-tabs .nav-item .nav-link {
  border: 0; }

.auctionhouse_nav .nav-tabs .nav-item .nav-link.active {
  border: 0;
  padding: .4rem .8rem; }

.auctionhouse_nav .nav-tabs .nav-item .nav-link:hover {
  border: 0; }
