/* Width, height and position of GUI items will be computed by Jquery based on canvas (see UI.js) */

canvas {
  /* if set 'this.scale.pageAlignHorizontally = true;' you can comment out margin */
  /* margin: 0 auto !important; */
  display: block !important;
}

.game_container {
  margin-top: 15px;
}

.gui_container {
  position: relative;
}

.window_1 {
  position: absolute;
  display: none;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
}

.window_1 .header {
  padding: 7px;
}

.window_1 .header button {
  width: 50%;
  /* font-family: 'Skranji'; */
  font-weight: 100;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  border: 0;
}

.window_1 .header button:first-child {
  margin-right: 7px;
}

.shop {
  position: absolute;
  display: none;
  border-top: 1px solid #e9ecef !important;
}
.shop .shop_content,
.shop .stats_content {
  display: none;
  color: white;
  font-size: 18px;
  padding: 15px;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}
